################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WAF.Tools/obj
/.vs/WAF/v15
/WAF.UI/bin/Debug
/WAF.UI/obj
